.Result {
    /* width: 90%; */
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
}

.AirplaneLogo {
    margin-top: 10px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.ArrowLogo {
    margin-top: 40px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.Duration {
    margin-top: -5px;
    font-size: 11px;
}