.Image {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    vertical-align: middle;
}

.Text {
    font-size: 14px;
}

.Header {
    font-size: 18px;
}

.Button {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #0092BD;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 19px;
    font-weight: bold;
    text-shadow: 1px 1px #BDBDBD;
}

.Duration {
    margin-top: -5px;
    font-size: 11px;
}

.Connection {
    font-size: 14px;
    color: #FA8072;
}

.Airport {
    margin-top: -12px;
    font-size: 11px;
    font-weight: bold;
}

.Order button {
    height: 30px;
    width: 70px;
    vertical-align: bottom;
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
}

.ConfirmMessage {
    font-size: 15px;
    color: #52BE80;
    font-weight: bold;
}

.ErrorMessage {
    font-size: 15px;
    color:  #CD5C5C;
    font-weight: bold;
}

.Airline {
    display: flex;
    align-items: center;
}

.Airline img {
    display: flex;
    height: 22px;
    width: 22px;
}

.Airplane {
    width: 80%;
    margin: 0 auto; 
    text-align: right;
}